.modal-content {
  position: relative;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  -webkit-box-shadow: 0 0px 0px rgba(0,0,0,0.08);
  box-shadow: 0 0px 0px rgba(0,0,0,0.08);
  outline: 0;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.08);
    box-shadow: 0 2px 4px rgba(0,0,0,0.08);
  }
  .modal-sm {
    width: 300px;
  }
}
.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1060;
  display: none;
  max-width: 276px;
  padding: 1px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.42857143;
  line-break: auto;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  font-size: 14px;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.08);
  box-shadow: 0 2px 4px rgba(0,0,0,0.08);

}

.note-editor.note-frame {
    border: 0px solid;
}
.panel {
    margin-bottom: 0px;
    border: 0px solid;
    border-radius: 0px;
    box-shadow: 0px 0px 0px #FFFFFF;
}
.note-editor.note-frame .note-editing-area .note-codable {
    background-color: #FFFFFF;
    color: #2F2F2F;
    outline: none;
}
.note-editor.note-frame .note-editing-area .note-editable[contenteditable="false"] {
    background-color: #FFFFFF;
}

.note-modal .modal-dialog {
  outline:0;
  border-radius:3px;
  box-shadow:0 2px 4px rgba(0,0,0,0.08)
}